<a href="https://colab.research.google.com/github/alshubati99/Data-Science-Study/blob/main/Lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Create a tuple includeing elements 5,10,15,20 and display the tuple

In [2]:
tup = (5, 10, 15, 20)
tup

(5, 10, 15, 20)

Print the sum of the elements of the tuple

In [3]:
print(sum(tup))

50

In [4]:
# another way:
n = 0
for num in tup:
  n+=num
print(n)

50

Concatenate tuple with the tuple(1,2,3) and print the resultant tuple

In [9]:
print(tup + (1, 2, 3))

(5, 10, 15, 20, 1, 2, 3)

Duplicate the tuple 5times as a new tuple

In [10]:
new_tup = 5*tup
print(new_tup)

(5, 10, 15, 20, 5, 10, 15, 20, 5, 10, 15, 20, 5, 10, 15, 20, 5, 10, 15, 20)

Unpack tuple into three variales a,b,c and d

In [11]:
(a, b, c, d) = tup
print(a, b, c, d)

5 10 15 20

Access the elements of the tuple in a for loop one by one and display their square roots

In [12]:
from math import sqrt
for item in tup:
  print(sqrt(item), end="\n")

2.23606797749979
3.1622776601683795
3.872983346207417
4.47213595499958

Create an empty list named as myList

In [7]:
myList = []
print(myList)

[]

Add the elements 5,10,15,20 one by one to the list

In [8]:
for item in tup:
  myList.append(item)
print(myList)

[5, 10, 15, 20]

Display the list in reverse order

In [13]:
print(sorted(myList, reverse=True))

[20, 15, 10, 5]

Insert the string "abc" to the index 2

In [14]:
myList.insert(2, "abc")
print(myList)

[5, 10, 'abc', 15, 20]

Pop the string inserted

In [15]:
myList.pop(myList.index("abc"))
print(myList)

[5, 10, 15, 20]

Remove 15 from the list

In [16]:
myList.pop(myList.index(15))
print(myList)

[5, 10, 20]

Write an expression to check if the list contains 15

In [17]:
print(15 in myList)

False

Create a new list by concatenated myList and ['a','b','c']

In [18]:
myList += ['a', 'b', 'c']
print(myList)

[5, 10, 20, 'a', 'b', 'c']

Extend myList by appending elements[1,2,3] using the extend method

In [19]:
myList.extend([1, 2, 3])
print(myList)

[5, 10, 20, 'a', 'b', 'c', 1, 2, 3]

Create a dictionary named as myDict with these keys/values pairs: a: foo, b:[1,2,3,4]

In [20]:
myDict = {'a': 'foo', 'b': [1, 2, 3, 4]}
print(myDict)

{'a': 'foo', 'b': [1, 2, 3, 4]}

Display the value corresponding to key 'b'

In [21]:
print(myDict['b'])

[1, 2, 3, 4]

Add a dictionay element with key 'c', and value '428'

In [22]:
myDict['c'] = '428'

Remove the dictionary entry corresponding to key 'b'

In [23]:
print(myDict)
myDict.pop('b')
print(myDict)

{'a': 'foo', 'b': [1, 2, 3, 4], 'c': '428'}
{'a': 'foo', 'c': '428'}

Print the list of keys in myDict

In [25]:
print(myDict.keys())

dict_keys(['a', 'c'])

Print the list of values in myDict

In [26]:
print(myDict.values())

dict_values(['foo', '428'])

Iterate through a dictionary's keys and values

In [27]:
for k, v in myDict.items():
  print(k, v)

a foo
c 428

Append multiple key/value pairs to myDict

In [28]:
myDict |= {'e': 'elephant', 'f': 'fish'}
print(myDict)

{'a': 'foo', 'c': '428', 'e': 'elephant', 'f': 'fish'}

Create a set with elements 0,1,2,3,4,5 and another one with elemnts 4,5,6,7,8 and define set3 as union of set1 and set2

In [29]:
mySet1 = {0, 1, 2, 3, 4, 5}
mySet2 = {4, 5, 6, 7, 8}
print(mySet1, mySet2)
mySet3 = mySet1 | mySet2
print(mySet3)

{0, 1, 2, 3, 4, 5} {4, 5, 6, 7, 8}
{0, 1, 2, 3, 4, 5, 6, 7, 8}

Define set3 as intersection of set1 and set2

In [30]:
mySet3 = mySet1 & mySet2
print(mySet3)

{4, 5}

Define set3 as the elements in set1 but not in set2

In [31]:
mySet3 = mySet1 - mySet2
print(mySet3)

{0, 1, 2, 3}

Define set3 as elements that are in either set1 or set2 but not in both

In [32]:
mySet3 = mySet1 ^ mySet2
print(mySet3)

{0, 1, 2, 3, 6, 7, 8}