<a href="https://colab.research.google.com/github/alshubati99/Data-Science-Study/blob/main/Python_Essentials.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Python Programming
- Anaconda is world most popular python data science platform.

### Built-in Types
  - None => for null values
  - str => string type
  - bytes => Raw ASKII bytes
  - float => Double-precision (64-bit) floating-point number
  - bool => True or False value
  - int => Arbitrary precision signed integer
### Numeric Types
  - primary python types for numbers are int and float
  - no limit to how long an integer value can be
  - floating-point are represented with float type in range 10e-308 to 10e308 with 16 to 17 digits of precision. (can be expressed with scientific notation)
  - integer division not resulting in a whole number will always yield a floating-point number.
  - type conversion is supported in python => float(3) or int(3.88) (truncates)
### Strings
  - python strings are immutable, no modification for strings is supported.
  - you can use *str* function to convert any python object to string.
  - adding to strings will produce a new string that has the concatination
  - square brackets  used to perform indexing into a string to get value at a certain index/position
### Booleans
  - boolean values (True,False) are compared with AND and OR keywords
### Operators
  - (a+b) => addition
  - (a-b) => subtraction
  - (a*b) => multiplication
  - (a/b) => division (a by b)
  - (a//b) => floor divide a by b, drop any fractional remainder
  - (a**b) => raise a to power b
  - (a&b) => true if both a, b are true, for int =(AND)
  - (a|b) => true if either a, b is true, for int =(OR)
  - (a^b) => for booleans, true if either a or be is true but not both, for int= (EXCLUSIVE_OR)
  - (a==b) => true if a equals b
  - (a!=b) => true if a not equal to be
  - (a <= b, a < b) => true if a less than or equal to b
  - (a >= b, a > b) => true if a greater than or equal to b
  - (a is b) => true if a and b reference same python object
  - (a is not b) => true if a and b reference different python objects.

In [1]:
a = 'this is trying to modify string'
a[10 ]= 'f'

TypeError: ignored

In [4]:
s1 = 6.6
s2 = str(s1)
print(s2)

6.6

In [6]:
a = 'hello'
b = ' world'
print(a+b)

hello world

In [12]:
string = 'abc'
print(string[0])
print(string[1])
print(string[2])
#print(string[3]) index error, out of range
print(string[-1])
print(string[-2])
print(string[-3])

a
b
c
c
b
a

In [18]:
# slicing strings [start:stop:step]
string = 'khawlah99'
print(string[3:6])
print(string[3:6:2])
print(string[::])
print(string[0:len(string):1])
print(string[::-1])
print(string[-1:-(len(string)+1):-1])
print(string[4:1:-2])

wla
wa
khawlah99
khawlah99
99halwahk
99halwahk
la

In [20]:
s = 'hello'
s = 'y'+s[1:len(s)]
print(s)

yello

# Control Flow

In [21]:
i = 10
if (i>15):
  print("10 is less than 15")
print("This is not in If")

This is not in If

In [22]:
i = 20
if (i <15):
  print('i is smaller than 15')
  print("I'm in IF block")
else:
  print("i is not greater thatn 15")
  print("I'm in ELSE block")
print("I am outside of IF-ELSE block")

i is not greater thatn 15
I'm in ELSE block
I am outside of IF-ELSE block

In [25]:
i = 20
if (i == 10):
  print('i is 10')
elif (i == 15):
  print('i is 15')
elif (i == 20):
  print('i is 20')
else:
  print('i is not present')

i is 20

# Iterative Structures

In [26]:
# python program to illustrate python loop
count = 0
while (count < 3):
  count = count +1
  print("Hello World!")

Hello World!
Hello World!
Hello World!

In [27]:
# check if list conains any elements
a = [1,2,3,4]
while a:
  print(a.pop())

4
3
2
1

In [28]:
# prints all letters except 'e' and 's'
i = 0
a = 'geeksforgeeks123'
while i < len(a):
  if a[i] == 'e' or a[i] == 's':
    i+=1
    continue # skip letter e and s
  print('current letter: ', a[i])
  i+=1

current letter:  g
current letter:  k
current letter:  f
current letter:  o
current letter:  r
current letter:  g
current letter:  k
current letter:  1
current letter:  2
current letter:  3

In [29]:
# break loop as soon as there is 'e' or 's'
i = 0
a = 'geeksforgeeks123'
while i<len(a):
  if a[i] =='e' or a[i] == 's':
    i+=1
    break # as it sees e it stops
  print('current letter: ', a[i])
  i+=1

current letter:  g

In [31]:
# iterate over a list program
list1 = ['hello', 'world', 'this is me']
for i in list1:
  print(i)

hello
world
this is me

In [32]:
# iterate over a string
s = 'khawlah'
for i in s:
  print(i)

k
h
a
w
l
a
h

In [33]:
# show range basics
# printing a number
for i in range(10):
  print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [36]:
# perform sum of first 10 numbers
sum = 0
for i in range(1,10):
  sum = sum+i
print('\nSum of 10 numbers: ', sum)

Sum of 10 numbers:  45

# Build-In Data Structures

### Lists , Ordered, changeable and allow duplicate values and has indexs
- ordered means items have defined order that will not change.
- if you add new items to a list, the new items will be placed at end of the list.
- List Methods:
  - append() => adds element to end of list
  - clear()=> removes all elements from list
  - copy()=> returns copy of the list
  - count()=> returns number of elements with specified value
  - extend()=> add element of list to the end of current list
  - index()=> return index of first element with specified value
  - insert()=> adds element to specified position
  - pop()=> remove element at specified position
  - remove()=> removes item with specified value
  - reverse()=> reverse order of list
  - sort()=> sorts the list

In [37]:
# create list:
li= ["a","b","c"]
print(li)

['a', 'b', 'c']

In [38]:
# print number of items in list
print(len(li))

3

In [39]:
# different data types list
ls = ['abc', 23, True, 5.6, 'I am happy']
print(ls)

['abc', 23, True, 5.6, 'I am happy']

In [40]:
# use list() constructor to make a list
List = list(('apple','banana','cherry')) # double brackets
print(List)

['apple', 'banana', 'cherry']

In [41]:
# print last item of the list
print(List[-1])

cherry

In [44]:
# return third, fourth, fifth item
ls = ['a','b','c','d',2,3,5,8,True,False]
print(ls[2:5])
print(ls[:4])
print(ls[2:])

['c', 'd', 2]
['a', 'b', 'c', 'd']
['c', 'd', 2, 3, 5, 8, True, False]

In [45]:
# use append() to append an item
ls.append('orange')
print(ls)

['a', 'b', 'c', 'd', 2, 3, 5, 8, True, False, 'orange']

In [46]:
# insert item to position
ls.insert(1,'orange')
print(ls)

['a', 'orange', 'b', 'c', 'd', 2, 3, 5, 8, True, False, 'orange']

In [47]:
# print items in list one by one
for i in ls:
  print(i)

a
orange
b
c
d
2
3
5
8
True
False
orange

In [48]:
# loop through index number
for i in range(len(ls)):
  print(ls[i])

a
orange
b
c
d
2
3
5
8
True
False
orange

In [49]:
# list comprehension
fruits = ['apple','banana','cherry','kiwi','mango']
newlist =[]
for x in fruits:
  if 'a' in x:
    newlist.append(x)
print(newlist)

['apple', 'banana', 'mango']

In [50]:
# same output with different syntax
newlist = [x for x in fruits if 'a' in x]
print(newlist)

['apple', 'banana', 'mango']

In [51]:
# addint to lists together (+)
print([1,3,3]+['a','b'])

[1, 3, 3, 'a', 'b']

In [52]:
# append multiple elements to list
x=[4,None,'hi']
x.extend([7,9,(2,4)])
print(x)

[4, None, 'hi', 7, 9, (2, 4)]

In [56]:
# sorting list
a = [7,3,5,9]
a.sort()
print(a.sort())
print(a)

None
[3, 5, 7, 9]

In [57]:
b = ['saw','small','hi','hello','i am ']
b.sort(key =len)
print(b)

['hi', 'saw', 'small', 'hello', 'i am ']

### Tuples , ordered UNchangeable and with round brackets, allow duplicates values and indexed
- unchangeable means we cannot change, add or remove items after tubple is created.
- allow duplicates since they are indexed
- tuple can contain different data types

In [58]:
tup = ('a','b','c')
print(tup)

('a', 'b', 'c')

In [59]:
# print number of items in tuple
print(len(tup))

3

In [61]:
# to create tuple with one item you have to add comma, otherwise it won't be recognized
tup2 = ('apple')
print(type(tup2))
tup2 = ('apple',)
print(type(tup2))

<class 'str'>
<class 'tuple'>

In [62]:
tup3 = ('a',2,True)
print(tup3)

('a', 2, True)

In [65]:
# print second item in tuple
print(tup3[1])
print(tup3[-1])

2
True

In [67]:
# to add items to tuple, change first to list then modify
y = list(tup3)
y.append('orange')
tup3 = tuple(y)
print(tup3)
print(y)

('a', 2, True, 'orange', 'orange')
['a', 2, True, 'orange', 'orange']

In [68]:
for x in tup3:
  print(x)

a
2
True
orange
orange

In [69]:
for i in range(len(tup3)):
  print(tup3[i])

a
2
True
orange
orange

In [71]:
# you can concatinate two tuples
a = (1,3)
b = ('a',)
print(a+b)

(1, 3, 'a')

In [72]:
# unpacking tuple
tup = (5,6,7)
a,b,c=tup
print(c)

7

In [73]:
# swaping in tuples
a,b = 1,3
b,a = a,b
print(a)
print(b)

3
1

In [78]:
# capture arbitrary long list of positional arguments
values = 1,1,3,4,5
a,b, *rest = values
print(a)
print(b)
print(rest)

1
1
[3, 4, 5]

In [79]:
# using underscore _
a,b, *_ = values
print(rest)

[3, 4, 5]

In [80]:
# tuple methods (count())
values.count(1)

2

Sets, UNordered and UNindexed, UNchangeable, do not allow duplicates written in curly brackets
- Unordered means items in set don't have defined order, cannot be refered by index.
- Unchangeable means we cannot change items after set is created
- you cannot access items in set by referring to an index or key, but you can loop through items and ask if specified value is in set using in key word
- sets support mathematical set operations like union, intersection, difference and symmetric difference
- symmetric_difference()=> set of elements in either a or b but not in both

In [81]:
set1 = {'a','b','c'}
print(set1)

{'c', 'b', 'a'}

In [82]:
# loop through set
for x in  set1:
  print(x)

c
b
a

In [83]:
# add item to set using add()
set1.add('orange')
print(set1)

{'c', 'b', 'orange', 'a'}

In [84]:
# remove item in set using remove()
set1.remove('c')
print(set1)

{'b', 'orange', 'a'}

In [86]:
# join two sets using either union() or update() with inserts all items from one set into another
set2 = {'d','e','f'}
set3 = set1.union(set2)
print(set3)
set1.update(set3)
print(set1)

{'orange', 'e', 'f', 'b', 'a', 'd'}
{'e', 'f', 'b', 'a', 'orange', 'd'}

In [87]:
print(set([1,3,5]))

{1, 3, 5}

In [90]:
set1.symmetric_difference(set2)

{'a', 'b', 'orange'}

### Dictionaries, Key:Value pairs storage, Ordered, Chanageble, Doesn't allow Duplicates
- ordered means items are defined with certain order(you can index)
- changeable means we can change, add, remove items after dict has been created
- duplicates are not allowed means no two items with same key.

In [92]:
# create and print dictionary
dict1 = {'brand':'ford',
         'model':'MMM',
         'year':1010}
print(dict1)
print(dict1['brand'])

{'brand': 'ford', 'model': 'MMM', 'year': 1010}
ford

In [94]:
# get value of model key
x = dict1['model']
print(x)

MMM

In [95]:
# change year to 2018
dict1['year'] = 2018
print(dict1['year'])

2018

In [96]:
# update year using update
dict1.update({'year':2023})
print(dict1)

{'brand': 'ford', 'model': 'MMM', 'year': 2023}

In [97]:
# add items using index
dict1['color'] = 'red'
print(dict1)

{'brand': 'ford', 'model': 'MMM', 'year': 2023, 'color': 'red'}

In [102]:
# use pop() to remove item with specified key name
dict1.pop("brand")
print(dict1)

{'year': 2023, 'color': 'red'}

In [103]:
# print all key names in dict1
for x in dict1:
  print(x)

year
color

In [104]:
# print all values of dictionaries
for x in dict1:
  print(dict1[x])

2023
red

# Enumerate
- to keep count of iterations

In [108]:
# illustrate enumerate
l = ['eat','sleep','repeat']
for ele in enumerate(l):
  print(ele)
# change index and print separately
for count, ele in enumerate(l,200):
  print(count,ele)
# get desired output from tuple
for count, ele in enumerate(l):
  print(count)
  print(ele)

(0, 'eat')
(1, 'sleep')
(2, 'repeat')
200 eat
201 sleep
202 repeat
0
eat
1
sleep
2
repeat

# Zip
- zip method takes iterable such as list, tuple, string or containers such as list, tuple, set, dictionary and returns single iterator object, having mapped values from all containers.
- it is used to map similar index of multiple containers so that they can be used just using singl entity

In [109]:
# demonstrate zip
players = ['mmm','nnn','sss','kkk']
scores = [100, 333, 000, 888]
# print players and their scores
for p1, sc in zip(players, scores):
  print("player: %s scores: %d " % (p1, sc))

player: mmm scores: 100
player: nnn scores: 333
player: sss scores: 0
player: kkk scores: 888

# Functions
- position argument: assigend to parameteres based in their position
- key-word argument: specified parameter name
- default argument: can be optionally provided

In [111]:
# local scope and local variables
def func1():
  n = 10
  print('n in func1',n)
def func2():
  n = 20
  print('n in func2 before call to func1 = ', n)
  func1()
  print('n in func2 after call to func1 = ',n)

func2()

n in func2 before call to func1 =  20
n in func1 10
n in func2 after call to func1 =  20

In [112]:
def func1():
  # n = 10
  print('n in func1',n)
def func2():
  n = 20
  print('n in func2 before call to func1 = ', n)
  func1()
  print('n in func2 after call to func1 = ',n)

func2()

n in func2 before call to func1 =  20

NameError: ignored

In [117]:
# global scope and global variables
max = 100
def fun1(count):
  if count<max:
    print('hi')


x = fun1(99)
print(x)

hi
None

### Lambda Functions
- anonymous functions, function without a name
- lambda function is defined using *lambda* keyword instead of *def*
- Form: lambda argument1, argument2 ... argumentN: expression using arguments
-

In [121]:
add_one = lambda x: x+1
add_one(2)
# equavelant to this
def add_one(x):
  return x+1
add_one(5)

6

In [124]:
# use lambda without adding a variable name
print((lambda x, y : x+y)(2,3))
(lambda x: x+3)(3)

5

6

In [127]:
lower = (lambda s,m: s if s<m else m)
lower('bb','aa')
lower('aa','b')

'aa'

### Filter Function
- to pick some particular elements from sequence of elements
- elements that can be selected are predicted on some pre-defined constraint, takes two parameters

In [129]:
sequence = [1,3,3,5, 10]
filtered_answer = filter(lambda x: x>6, sequence)
print(list(filtered_answer))
print(filtered_answer)

[10]
<filter object at 0x7e018e788df0>

### Map Function
- to use a specific operation for each element in a sequence
- it takes two parameteres

In [132]:
sequence = [1,3,3,5, 20]
sequared_result = map(lambda x: x*x, sequence)
print(list(sequared_result))
print(sequared_result)

[1, 9, 9, 25, 400]
<map object at 0x7e018e6b3700>

In [134]:
# lambda with map:
animals = ['dog', 'cat','parrot','rabbit','horse']
upper_case = list(map(lambda animal: animal.upper(), animals))
print(upper_case)
# -------------------------------
nums = [29,66,44,2,3]
nums = list(map(lambda x: x%5,nums))
print(nums)

['DOG', 'CAT', 'PARROT', 'RABBIT', 'HORSE']
[4, 1, 4, 2, 3]

# Comprehensions
- provide short and consise way to construct new sequence, using a sequence that have been already defined
- python supports 4 types of comprehensions
  1- list
  2- dictionary
  3- set
  4- generator

In [136]:
# output list using comprehensions
comp_list = [var**2 for var in range(1,10)]
print(comp_list)

#----------------------------------
numbers = [3,5,6]
squares = [number **2 for number in numbers]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81]
[9, 25, 36]

In [137]:
input_list = [1,3,4,5,6, 7,7]
compre_list = [var for var in input_list if var%2 ==0]
print(compre_list)

[4, 6]

In [138]:
state = ['mmm','llllll','ddddddd']
capital=['wwwwww','eeeeeeee','rrrrrrr']
compre_dict = {key:value for (key,value)in zip(state,capital)}
print(compre_dict)

{'mmm': 'wwwwww', 'llllll': 'eeeeeeee', 'ddddddd': 'rrrrrrr'}

# Modules, Packages, Libraries and Frameworks
- *Module*: bunch of related code saved in a file with extension .py, it has functions, classes or variables.
- *package*: directory of a collection of modules. Allows hierarchical structure. (must contian __init__.py for python to consider it as package)
- *library*: collection of modules and packages.
- *framework*: collection of modules and packages that help programmers to fast track the development process. More complex than libraries.

In [ ]:
# import Game.Level.start
# must use full name to reference a function like Game.Level.start.select_difficulty(2)
# or from Game.Level import start then call function as start.select_difficulty(2)
# or from Game.Level.start import select_difficulty

# OOP for Python
- class has:
  - class definition
  - constructor function
  - destructor function
  - attributes and methods definition
  - object definition
- the `__init__` method run as soon as object of class is instantiated, its aim is to initialize the object.
- the `self` parameter is a reference to the current instance of the class, it is used to access variables that belongs to the class.  (you can name it whatever you want, it does not have to be self, but it has to be the first parameter of any function)
  - it is like pointer *this* in C++.
  - works as a variable of function but won't access data.
- Inheritance: subclass can invoke attributes and methods in superclass.
- in python, no keywords like `public`, `protected` and `private` to define accessibility. this means that all attributes are public
- there is a method in python to define private by adding `__` in front of the variable, and function name, can hide them when accessing them from out of class
- attributes created in`__init__()` are called *instance attributes*. which value is specific to a particular instance of the class.
- *class attributes* are attributes that have same value for all class instance.
  - class attributes must always be assigned an initial value. when instance of class is created, class attributes are automatically created and assigned to their initial values.

In [139]:
class Person:
    def __init__(self,name):#constructor
      self.name = name
    def SayHi(self):
      print("hiii :) ", self.name)
    def __del__(self): # destructor
      print('%s sayes byeee' % self.name)

a = Person('AI')
a.SayHi()
del(a)

hiii :)  AI
AI sayes byeee

In [ ]:
# class definition syntax;
class Developer(Person):
  pass
# object instantiation syntax:
object.class()
# Attributes and methods invoke:
object.attribute
object.method()

In [140]:
class Person:
    def __init__(self,name):
      self.name= name
      print(self.name)

per = Person("Khawlah")
print(per.name)

Khawlah
Khawlah

In [141]:
# insert function that prints greeting
class Person:
  def __init__(self,name,age):
    self.name = name
    self.age = age
  def myfunc(self):
    print('hello my name is ' + self.name)

p1 = Person('khawlah',45)
p1.myfunc()

hello my name is khawlah

In [142]:
# inheretance example
class Person:
  def speak(self):
    print('i can speak')
class Man(Person):
  def wear(self):
    print('i can wear shirt')
class Women(Person):
  def wear(self):
    print('i wear shirt')

man = Man()
man.wear()
man.speak()

i can wear shirt
i can speak

In [143]:
class Person:
  career = 'se'     # class attribute
  def __init__(self):
    self.A = 'ai'   # public variable
    self.__B = 'ml' # private variable
  def PrintName(self):
    print(self.A)   # instance attribute
    print(self.__B) # access private variable in class

p = Person()
p.PrintName() #access public function, but this function access private variable __B successfully since they are in the same class
print(p.A)    # access public variable out of class, succeed
print(p.__B)  # access private variable out of class, failed

ai
ml
ai

AttributeError: ignored